<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>All In One Sailing Tool</h2>
        <hr class="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>NauticApp is aiming to support Signal K out of the box, it will also be featuring a Passage Planning section, Marina and Anchorage Information, Tidal Data API and more... However, Tidal Data and the Weather Full Forecast data are APIs that cost money as does the development of all these features but with your donation, this project can carry on and become your favorite sailing app!  </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <br>
     <br>
     <br>
        <a href="https://gofund.me/dd09c8df"><img src="/img/gofundme.png" width="250" target="_blank" rel="external">
        </a>
      </div>
    </div>
  </div>
</section>
