<!-- About Section -->


<section class="success" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Exciting Developments Ahead!</h2>
            <p>We're actively working on implementing Artificial Intelligence (AI) for engine troubleshooting within the Marine Engineering Hub. This cutting-edge technology will provide advanced diagnostics and recommendations, enhancing your ability to maintain and optimize your boat's performance.</p>
            <p>Stay tuned for even more features and innovations that will take your boating experience to the next level!</p>
            
        
          </div>
  
    
     

</section>
