<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>All In One Sailing Tool</h2>
        <hr class="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>NauticApp is aiming to support Signal K out of the box, it will also be featuring a Passage Planning section, Marina and Anchorage Information and more...</p>
      </div>
     
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://play.google.com/store/apps/details?id=io.dcoldeira.nauticapp" class="btn btn-lg btn-outline">
          <i class="fab fa-google-play"></i> Google Play
        </a>
      </div>
    </div>
  </div>
</section>
