<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NauticApp Features</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="styles.css"> <!-- Add a link to your CSS file for custom styling -->
    <style>
        /* Add any custom styles here */
        .feature-icon {
            font-size: 5em;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <h2 class="section-title">Features</h2>
            <hr class="section-divider">

            <div class="feature">
                <i class="fas fa-screwdriver-wrench feature-icon"></i>
                <h3 class="feature-title">Marine Engineering Hub</h3>
                <p class="feature-description">Explore a comprehensive resource for engine maintenance and performance. Access troubleshooting assistance, maintenance schedules, spare part inventory, and real-time engine monitoring to enhance safety and efficiency on the water.</p>
            </div>
          </br></br></br>

          <div class="feature">
            <i class="fas fa-rss feature-icon"></i>
            <h3 class="feature-title">NautiGuard</h3>
            <p class="feature-description">Experience a collection of marine IoT projects focusing on safety and monitoring. Customize solutions with open-source projects like BilgeMonitor, EngineMonitor, Weather Station, and SafetyMonitor for a tailored boating experience.</p>
            <p class="feature-description">Learn more about <a href="https://github.com/NauticApp/BilgeMonitor" target="_blank">BilgeMonitor</a> in the <a href="https://github.com/NauticApp/BilgeMonitor/blob/main/README.md" target="_blank">README</a>. BilgeMonitor is a vital component of NautiGuard, designed to monitor bilge conditions on your boat. It provides real-time data on water levels, helping to prevent potential flooding or damage. By connecting BilgeMonitor to NauticApp, you can conveniently access and manage this crucial information. Stay tuned for more innovative projects like BilgeMonitor that will further enhance your boating experience!</p>
        </div>
        

          </br></br></br>

            <div class="feature">
                <i class="fas fa-wind feature-icon"></i>
                <h3 class="feature-title">Weather Forecast</h3>
                <p class="feature-description">Stay informed with the latest marine weather forecast. Access real-time information on changing wind speed, direction, and weather conditions, essential for safe navigation and informed decision-making on the water.</p>
            </div>
          </br></br></br>
            <div class="feature">
                <i class="fas fa-compass feature-icon"></i>
                <h3 class="feature-title">Responsive Magnetic Heading (CoG)</h3>
                <p class="feature-description">The app boasts a Responsive Magnetic Heading (CoG) feature, providing essential information for accurate navigation.</p>
            </div>
          
          
          </br></br></br>

            <div class="feature">
              <i class="fa-solid fa-gauge-high feature-icon"></i>
              <h3 class="feature-title">Readings</h3>
              <p class="feature-description">View the live position of your vessel and access important data such as Course Over Ground (COG), Speed Over Ground (SOG), and Heading in real-time. All of these readings are powered by the sensors in your device..</p>
          </div>


          </br></br></br>


            <div class="feature">
                <i class="fa-brands fa-readme feature-icon"></i>
                <h3 class="feature-title">Logbook</h3>
                <p class="feature-description">The Logbook feature allows users to maintain detailed records of their boating activities, including position, speed, and personalized comments.</p>
            </div>

        </div>
    </section>

    <!-- Add your custom CSS file for styling -->
    <link rel="stylesheet" href="styles.css">

</body>

</html>
